
body { font-family:Arial, Helvetica, sans-serif;
    color: rgb(231, 231, 231)}
    button {
        transition-duration: 0.4s;
      }
      
      .button:hover {
        background-color: #4CAF50; /* Green */
        color: white;

      }
    
    
      


#produto:hover{
    background-color: #4CAF50;
    color: white;
    border-radius: 12px;
    border-color: rgb(0, 0, 0);
    border-style: inset;
}

.product-card{
    margin-left: 60px;
    width: 250px;
    
}
.product-card2{
    margin-left: 350px;
    margin-top: -987px;
    width: 250px;
}

.product-card3{
    margin-left: 350px;
    margin-top: -615px;
    width: 250px;
}


img{
    width: 250px;
    height: 250px;
}
